.hero {
  text-align: center;
  padding-top: 170px;
  padding-bottom: 230px;
}
.hero-name {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: $third-font;
  color: $main-titel-color;
  font-size: 72px;
  line-height: 1.2;
}
.hero-titel {
  margin-top: 0;
  margin-bottom: 125px;
  font-family: $main-font;
  color: $main-titel-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 150px;
  line-height: 0.933;
}
.hero-button {
  border-style: solid;
  border-width: 3px;
  border-color: $main-titel-color;
  background-color: rgba(0, 0, 0, 0);
  width: 164px;
  height: 44px;
  font-family: $main-font;
  color: $main-titel-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
