.team {
  padding-top: 45px;
  padding-bottom: 82px;
  text-align: center;
}
.team-titel {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: $main-font;
  color: $secondary-titel-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2;
}
.team-text {
  margin-top: 0;
  margin-bottom: 95px;
  font-family: $secondary-font;
  color: $main-text-color;
  line-height: 1.6;
  font-size: 15px;
  text-align: center;
}
.team-line {
  margin-bottom: 45px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.photo-background {
  background-color: $green-akcent-color;
  width: 380px;
  height: 470px;
  margin-bottom: 30px;
}

.team-img {
  position: relative;
  width: 380px;
  height: 470px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.photo-wrapper {
  position: relative;
  width: 380px;
  height: 470px;

  &:hover {
    cursor: pointer;
  transform: translate(-10px, -10px);
   transition-duration: 1000ms;

    .team-social-list-wraper {
      opacity: 1;
      transition-property: all;
      transition-duration: 1000ms;
      transition-delay: 800ms;
    }
    .team-social-list {
      opacity: 1;
       transition-property: all;
      transition-duration: 1000ms;
        transition-delay: 1500ms;
    }
  }
}
.team-social-list-wraper {
  // display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
 transform: translateX(0);
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    rgba(243, 129, 129, 0.7),
    rgba(252, 227, 138, 0.7)
  );
}
.team-social-list {
  display: flex;
  opacity: 0;
  justify-content: center;
  padding: 207px 78px 207px 78px;
}
.team-social-item {
  background-color: rgb(252, 227, 138);
  width: 55px;
  height: 56px;

  &:not(:last-child) {
    border-right: 1px solid $social-icon-fill;
  }

  &:hover,
  &:focus {
    background-color: $social-icon-fill;
    cursor: pointer;

    transition-property: all;
      transition-duration: 500ms;
        
  }
}
.team-social-icon {
  padding-top: 15px;
  fill: $social-icon-fill;

  .team-social-item:hover &,
  .team-social-item:focus & {

    fill: $main-background-color;
    transition-property: all;
      transition-duration: 250ms;
       
  }
}

.facebook {
  width: 13px;
  height: 26px;
}
.twitter {
  width: 26px;
  height: 22px;
}
.pinterest {
  width: 21px;
  height: 26px;
}
.instagram {
  width: 26px;
  height: 26px;
}
.team-name {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: $main-font;
  color: $secondary-titel-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
}
.team-position {
  font-family: $secondary-font;
  color: $main-text-color;
  font-style: italic;
  font-size: 15px;
  line-height: 1.6;
}
