.work {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
.work-first-titel {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: $third-font;
  color: $secondary-titel-color;
  font-size: 24px;
  line-height: 1.2;
}
.work-main-titel {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: $main-font;
  color: $secondary-titel-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2;
}
.icon-line {
  margin-top: 0;
  margin-bottom: 65px;
  fill: $line-color;
  width: 60px;
  height: 3px;
  text-align: center;
}

.work-icon {
  margin-top: 15px;
  margin-right: 28px;

  fill: $work-icon-color;
  width: 32px;
  height: 31px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}
.work-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  //   &:nth-child(-n + 4) {
  //     margin-right: 70px;
  //   }
}
.work-name {
  font-family: $main-font;
  color: $secondary-titel-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}
.work-text {
  font-family: $secondary-font;
  color: $main-text-color;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  width: 280px;
  height: 39px;
}
