$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$third-font: "Kaushan+Script", sans-serif;

$akcent-color: #2196f3;
$main-titel-color: #212121;
$secondary-titel-color: #ffffff;
$logo-color: #000000;
$main-text-color: #757575;
$background-color: #e5e5e5;
$background-footer-color: #2f303a;
$background-team-color: #f5f4fa;
$footer-link-color: rgba(255, 255, 255, 0.6);
$main-background-color: #ffffff;
$social-icon-fill: #afb1b8;
