$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$third-font: "Kaushan Script", sans-serif;
$main-titel-color: rgb(255, 255, 255);
$secondary-titel-color: rgb(51, 51, 51);
$line-color: rgb(243, 129, 129);
$work-icon-color: rgb(149, 225, 211);
$main-text-color: rgb(153, 153, 153);

$akcent-color: #2196f3;

$logo-color: #000000;

$background-color: #e5e5e5;
$background-footer-color: #2f303a;
$background-team-color: #f5f4fa;
$footer-link-color: rgba(255, 255, 255, 0.6);
$main-background-color: #ffffff;
$social-icon-fill: #afb1b8;
