$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$third-font: "Kaushan Script", sans-serif;
$main-background-color: #ffffff;
$main-titel-color: rgb(255, 255, 255);
$secondary-titel-color: rgb(51, 51, 51);
$line-color: rgb(243, 129, 129);
$work-icon-color: rgb(149, 225, 211);
$main-text-color: rgb(153, 153, 153);
$social-icon-fill: rgb(243, 129, 129);
$akcent-color: rgb(252, 227, 138);
$green-akcent-color: rgb(149, 225, 211);
$form-placeholder-color: rgba(255, 255, 255, 0.6);
